p {
    color: red;
}

.main-component-container {
    display: flex;
    width: 100%;
    min-height: 600px;
}

.message-index-wrapper {
    width: 20%;
}

.message-index-container {
    min-height: 90%;
}

.display-wrapper {
    width: 80%;

}

.bottom-wrapper {
    display: flex;
    padding-top: 10px;
}

.message-buttons-container {
    display: flex;
    min-width: 20%;
    justify-content: center;
}

.message-buttons-container button {
    background-color: #15428A;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 11px;
    font-size: 21px;
    font-family: sans-serif;
    color: white;
    padding: 15px 0px 15px 0px;
    margin: 30px 0px 0px 0px;
    
}

.message-buttons-container button:hover {
    background-color: #FF7000;
    color: black; 
}

.message-form-container {
    display: flex;

    justify-content: flex-end;
    min-width: 80%;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-top: -59px;
}

.message-form-container form {
    min-width: 78%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.message-form-container textarea {
    min-width: 90%;
    padding: 0px 0px 0px 0px;
    min-height: 65px;
}
.message-form-container button {
    background-color: #15428A;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 11px;
    font-size: 21px;
    font-family: sans-serif;
    color: white;
    margin: 0px 0px 0px 11px;
}
.message-form-container button:hover {
    background-color:#FF7000;
    color: black; 
}

.index-item-wrapper {
    display: flex;
    width: 100%;
    height: 58px;
    border-bottom: 2px solid black;
}

.index-item-wrapper:hover {
    background-color: #15428A;
}

.index-item-wrapper:hover i {
    color: white;
}
.index-item-wrapper:hover p {
    color: white;
}

.index-item-wrapper p {
    padding: 10px 3px 0px 6px;
    font-family: sans-serif;
    color: black;
    font-size: 20px;
}

.index-item-wrapper i {
    padding: 10px 0px 0px 7px;
    font-size: 20px;
    color: black;
}

.default-message-display-container {
    display: flex;
    flex-direction: rown;
    flex-direction: column;
    align-items: center;
}

.default-message-display-container h1{
    font-family: sans-serif;
    padding: 200px 0px 0px 0px;
    font-size: 50px;
}
.default-message-display-container h2{
    font-family: sans-serif;
    padding: 50px 0px 0px 0px;
    font-size: 30px;
}